/* .urlLength {
    width: 40%;
}

.upLength {
    width: 10%;
}

.runLength {
    width: 20%;
}

.actionLength {
    width: 10%;
} */

.isPointer {
    cursor: pointer;
}

.noOfPingsToGet {
    width: 15%;
}